*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  min-width: 375px;
}

.navbar-container,
.headline-container,
.works-container,
.form-container,
footer {
  margin-left: 24px;
  margin-right: 24px;
}

/* color variable list */

:root {
  --color-white: rgb(255, 255, 255);
  --color-Safety-Orange: #ff6b00;
  --color-black: #1c1a19;
}

/* ------------navbar  style ------------ */

header {
  position: sticky;
  top: 0;
  height: 100%;
  background-color: #3c3a39;
}

.branding-logo {
  animation: rotate 8s ease-in-out 4s 1;
}

@keyframes rotate {
  from {
    transform: rotate(0);
    background-color: #e05304;
  }

  to {
    transform: rotate(360deg);
    background-color: aqua;
  }
}

.logo-container {
  min-height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu {
  min-height: 755px;
  min-width: 327px;
  display: none;
  flex-direction: row-reverse;
  justify-content: space-around;
}

form ul {
  display: flex;
  flex-direction: column;
}

.mobile-menu ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  margin-left: 10%;
}

.tag-ul-1 li {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
  box-sizing: border-box;
  padding: 10px 12px;
  border: 1px solid #8993a4;
}

.card-ul li {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  background-color: rgba(255, 255, 255, 0.24);
  color: var(--color-white);
  box-sizing: border-box;
  padding: 10px 12px;
}

.mobile-menu ul li {
  min-width: 300px;
  margin: 5% 0;
}

#crossImg {
  height: 40px;
  width: 40px;
  margin-top: 30px;
  margin-right: 24px;
}

.desk-menu {
  display: none;
}

nav li a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  font-size: 32px;
  color: hsl(40, 100%, 94%);
}

/* ------------------------
.headline-container style
---------------------------- */
.section {
  height: 590px;
  background-color: var(--color-black);
  background-image: url("./images/background-1.svg");
  background-repeat: no-repeat;
  background-position: 100% 130%;
}

.headline-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headline-text {
  padding-top: 120px;
  margin-bottom: 12px;
}

.headline-text h1 {
  font-family: "Crete Round", serif;
  color: var(--color-Safety-Orange);
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
}

.headline-text h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
}

.artical {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-white);
}

.social-media-icons {
  display: flex;
  justify-content: flex-start;
}

/* ------------------------
recent work section style
---------------------------- */

.works-title {
  height: 83px;
  margin-top: 120px;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: var(--color-black);
}

.Recent-work hr {
  margin-top: 24px;
  height: 0.5px;
  border: 0.5px solid #212121;
}

.feature-image {
  height: 237px;
  width: 327px;
  margin-top: 80px;
}

.title-post {
  height: 36px;
  margin-top: 24px;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
}

.post-description {
  height: 147px;
  margin-top: 12px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
}

.tag-ul-1 {
  width: 297px;
  height: 40px;
  margin-top: 12px;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
}

button {
  transition: all 1s ease-in;
}

form button {
  padding: 12px;
  margin: 0 98px;
  width: 131px;
  height: 48px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  background-color: var(--color-Safety-Orange);
  border: 1px solid var(--color-Safety-Orange);
  color: var(--color-white);
}

.Recent-work button {
  width: 124px;
}

.see-project-btn {
  min-width: 327px;
  margin-top: 22px;
}

.Recent-work button,
.see-project-btn {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: black;
  height: 48px;
  background-color: #f55800;
  border: 1px solid #f55800;
}

.about-me button {
  margin-top: 24px;
  margin-right: 175px;
  padding: 12px;
  min-width: 161px;
  height: 48px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  background-color: #f55800;
  color: black;
}

button:enabled {
  background-color: #f55800;
  color: black;
}

button:hover {
  background-color: #fff5e1;
  border: 1px solid #f55800;
  color: #c03b1b;
  cursor: pointer;
  transform: scale(1.1);
}

button:active {
  background-color: #e05304;
  color: var(--color-white);
}

button:disabled {
  background-color: #f4f1f0;
  color: #5b5957;
}

.work-cards {
  display: grid;
  grid-template: repeat(6, 386px) / 1fr;
}

.desktop-cards {
  display: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url("./images/background-3.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.card:hover {
  box-shadow: 10px 5px 5px 0 rgba(0, 0, 0, 0.75);
}

.card h3 {
  height: 81px;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: var(--color-white);
  margin: 0 16px 12px 16px;
}

.description {
  height: 87px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-white);
  margin: 12px 16px;
}

.card-ul {
  height: 40px;
  margin-top: 12px;
  margin-right: 45px;
  display: flex;
  justify-content: space-evenly;
}

/* about me section style */

.about-section {
  background-color: var(--color-black);
  margin-top: 120px;
}

.about-me {
  height: 600px;
  margin-left: 24px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-image: url("./images/illustration-about-me-mobile.svg");
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.about-me h2 {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 4.5rem;
  line-height: 5rem;
  letter-spacing: 0.37px;
  color: var(--color-Safety-Orange);
  padding-top: 100px;
}

.about-me p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  margin-top: 10px;
}

.about-container hr {
  border: 1px solid var(--color-white);
  min-width: 327px;
  height: 1px;
  margin: 0 24px 0 24px;
}

.skills-list {
  height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: var(--color-white);
  margin-top: 50px;
}

.skill-1,
.skill-2,
.skill-3 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.skill-1::before {
  content: url(./icons/Rectangle-1.svg);
  margin-right: 10px;
}

.skill-2::before {
  content: url(./icons/Rectangle-2.svg);
  margin-right: 10px;
}

.skill-3::before {
  content: url(./icons/Rectangle-3.svg);
  margin-right: 10px;
}

.Languages,
.frameworks,
.skills {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
}

/* contact form and footer style */

.form-container {
  display: flex;
  flex-direction: column;
}

.form-container p {
  height: 216px;
  margin-top: 120px;
  margin-bottom: 58px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
}

form input {
  height: 48px;
  min-width: 327px;
  margin: 24px 0;
  padding: 16px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  align-items: center;
  color: #979493;
  border-style: none;
  border-bottom: 1px solid #dbd8d7;
}

textarea {
  min-width: 327px;
  height: 114px;
  margin-bottom: 24px;
  padding: 12px;
  background-color: #fbf8f7;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #3c3a39;
  border-style: none;
}

footer {
  height: 81px;
  display: flex;
  flex-direction: column;
  margin-top: 124px;
  margin-bottom: 8px;
}

.top-line {
  height: 1px;
  margin-bottom: 15px;
  border: 0.1px solid #dfe1e6;
}

.social_navigation {
  margin: 0 87px;
  min-width: 200px;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.liner {
  height: 5px;
  width: 134px;
  margin-top: 13px;
  margin-left: 125px;
  background-color: #0d151e;
  border-radius: 10px;
}

/* ---------------------------------------------------
media query for mobile from 450px to 767px screen
--------------------------------------------------- */

@media screen and (min-width: 450px) {
  .work-cards {
    grid-template: repeat(3, 1fr) / repeat(2, minmax(160px, 1fr));
    grid-gap: 10px;
  }

  .card h3 {
    margin-top: 15%;
    font-size: 25px;
    line-height: 25px;
  }

  .description {
    font-size: 15px;
    line-height: 17px;
    margin-top: 0;
  }

  .card-ul {
    width: fit-content;
    margin-right: 0;
  }

  .card-ul li {
    padding: 10px 6px;
    margin: 0 5px;
    font-size: 15px;
  }

  .see-project-btn {
    min-width: 150px;
  }

  .about-me p {
    padding-right: 10%;
  }

  .form-container {
    margin: 0 15%;
  }

  .form-container p {
    font-size: 30px;
    text-align: left;
  }

  #name,
  #email,
  #message {
    width: 320px;
    margin-left: 10%;
  }

  .footer {
    width: 5%;
    margin-left: 10%;
  }

  .liner {
    display: none;
  }
}

/* -------------------------------------------------------
 -------desktop version style using media query--------
 from 768px to 1000px screen size
------------------------------------------------- */

@media screen and (min-width: 768px) {
  body {
    width: 100%;
  }

  /* header/ navbar media query start */

  .navbar-container {
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mobile-menu {
    display: none;
  }

  #hamImg {
    display: none;
  }

  .desk-menu {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .desk-menu img {
    height: 45%;
    width: 45%;
  }

  .desk-menu li a {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: var(--color-white);
  }

  /* header/ navbar media query end */

  /* headline/homepage media query star */

  .section {
    min-height: 500px;
    background-color: var(--color-black);
    background-image: url("./images/desktop-1.svg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position-x: 100%;
    background-position-y: 90%;
  }

  .headline-container {
    width: 50%;
    flex-direction: row-reverse;
  }

  .headline-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    height: 100%;
    padding-right: 10%;
  }

  .headline-text h1 {
    font-size: 50px;
    line-height: 90%;
  }

  .headline-text h2 {
    font-size: 25px;
    color: var(--color-white);
    margin: 4% 0;
  }

  .social-media-icons {
    width: 15%;
    margin-top: 25%;
    flex-direction: column;
    justify-content: center;
  }

  /* work section media query for desktop version */

  .works-container {
    width: 75%;
    margin: 0 12%;
    display: flex;
    flex-direction: column;
  }

  .work-title-dv {
    margin-bottom: 0;
    display: flex;
    align-items: center;
  }

  .works-title {
    font-size: 25px;
    line-height: 20px;
    margin-top: 55px;
    width: 45%;
  }

  .work-title-dv hr {
    margin: 0;
    width: 80%;
    height: 1px;
    background-color: #0d151e;
  }

  .feature-area {
    display: flex;
    align-items: flex-start;
    margin-top: 0;
    margin-bottom: 5%;
  }

  .feature-image {
    width: 60%;
    height: 100%;
    margin: 0 20px 0 0;
  }

  .post-text {
    display: flex;
    flex-direction: column;
    margin: 0 0;
    width: 40%;
  }

  .title-post {
    font-size: 20px;
    margin-top: 0;
  }

  .post-description {
    font-size: 100%;
    line-height: 15px;
    margin-top: 0;
    height: 120px;
  }

  .tag-ul-1 {
    display: flex;
    justify-content: space-around;
    width: fit-content;
    height: 10%;
  }

  .tag-ul-1 li {
    font-size: 15px;
    line-height: 4px;
    padding: 12px 4px;
    margin-right: 10px;
  }

  form button {
    margin-left: 10%;
  }

  .post-text button {
    height: 35px;
    width: 42%;
    font-size: 95%;
  }

  .work-cards {
    display: none;
  }

  .desktop-cards {
    display: grid;
    grid-template: repeat(2, minmax(300px, 1fr)) / repeat(3, minmax(200px, 1fr));
    grid-column-gap: 2%;
    grid-row-gap: 2%;
  }

  .desktop-card-1,
  .desktop-card-4 {
    background-image: url("images/dc-4.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 40%;
  }

  .desktop-card-2,
  .desktop-card-5 {
    background-image: url("images/dc-2.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 40%;
  }

  .desktop-card-3,
  .desktop-card-6 {
    background-image: url("images/dc-3.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 40%;
  }

  .desk-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .card-text {
    margin: 5% 0 0 5%;
  }

  .desk-card h3 {
    font-family: "Crete Round", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 18px;
    color: var(--color-white);
    margin-bottom: 7%;
  }

  .desktop-card-3 h3,
  .desktop-card-6 h3 {
    line-height: 35px;
  }

  .desk-card p {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: var(--color-white);
    padding-right: 15%;
    margin-bottom: 6%;
  }

  .desk-card ul {
    height: 15%;
    width: fit-content;
    display: flex;
    justify-content: space-between;
  }

  .desk-card:hover,
  .desk-card:focus {
    box-shadow: 10px 5px 5px 0 rgba(0, 0, 0, 0.75);
  }

  .desk-card li {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    color: var(--color-white);
    box-sizing: border-box;
    padding: 6px 8px;
    margin-right: 8px;
    background-color: rgba(255, 255, 255, 0.24);
  }

  .desk-card button {
    height: 40px;
    border: 1px solid #f55800;
    display: none;
  }

  .form-container p {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    align-items: center;
    color: #262626;
    text-align: left;
    margin-top: 25px;
    word-wrap: break-word;
  }

  .about-me p {
    margin-right: 20%;
  }

  /* about me section media query for desktop */

  .about-section {
    margin-top: 0;
    height: 900px;
  }

  .about-container {
    background-image: url("images/aboutmeback.svg");
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: 100% 10%;
  }

  .about-me {
    justify-content: center;
    align-items: flex-start;
    background-image: none;
    width: 50%;
    height: 60%;
    margin-left: 10%;
    margin-top: 5%;
  }

  .about-container hr {
    margin-top: 50px;
  }

  .skills-list {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  .Languages,
  .frameworks,
  .skills {
    align-items: flex-start;
  }

  .form-container {
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    margin: 5% 10%;
  }

  #name,
  #email,
  #message {
    width: 400px;
    margin-left: 10%;
  }

  .footer {
    width: 10%;
    margin-left: 25%;
  }

  .liner {
    display: none;
  }
}

/* -------------------------------------------------------
 -------desktop version style using media query--------
 from 1000px to wider screen size
------------------------------------------------- */

@media screen and (min-width: 1000px) {
  /* work section media query for desktop version */

  .works-container {
    width: 75%;
    margin: 0 12%;
    display: flex;
    flex-direction: column;
  }

  .work-title-dv {
    margin-bottom: 0;
    display: flex;
    align-items: center;
  }

  .works-title {
    font-size: 100%;
    line-height: 20px;
    margin-top: 55px;
    width: 20%;
  }

  .work-title-dv hr {
    width: 80%;
  }

  .desktop-cards {
    grid-template: repeat(2, minmax(370px, 1fr)) / repeat(3, minmax(200px, 1fr));
  }

  .desktop-card-1,
  .desktop-card-4 {
    background-position-y: 20%;
  }

  .desktop-card-2,
  .desktop-card-5 {
    background-position-y: 20%;
  }

  .desktop-card-3,
  .desktop-card-6 {
    background-position-y: 20%;
  }

  .card-text {
    margin-top: 15%;
  }

  .desk-card ul {
    height: 20%;
  }

  .desk-card li {
    font-size: 15px;
    padding: 10px 8px;
  }

  .desk-card button {
    margin-top: 5%;
  }

  .form-container p {
    font-size: 22px;
    line-height: 30px;
    color: #262626;
    text-align: left;
    margin-top: 25px;
    word-wrap: break-word;
  }

  .about-me p {
    margin-right: 20%;
  }

  /* about me section media query for desktop */

  .about-section {
    margin-top: 0;
    height: 900px;
  }

  .about-container {
    background-size: 40%;
    background-position: 100% 5%;
  }

  .about-me {
    justify-content: center;
    align-items: flex-start;
    background-image: none;
    width: 50%;
    height: 60%;
    margin-left: 10%;
    margin-top: 5%;
  }

  .about-container hr {
    margin-top: 50px;
  }

  .skills-list {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  .Languages,
  .frameworks,
  .skills {
    align-items: flex-start;
  }

  .form-container {
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    margin: 5% 10%;
  }

  #name,
  #email,
  #message {
    width: 450px;
    margin-left: 10%;
  }

  .footer {
    width: 10%;
    margin-left: 35%;
  }
}
