*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* popup window style start */

.popUpSection {
  display: none;
  position: fixed;
  z-index: 1;
  overflow: auto;
  left: 35px;
  top: 50px;
  width: 80%;
  height: 90%;
  background-color: #fff;
}

.projectPreview {
  display: flex;
  flex-direction: column;
  height: 80%;
  margin: 24px;
}

.project_elements {
  display: flex;
  flex-direction: column;
}

.details_container {
  display: flex;
  flex-direction: column;
}

.projectImg {
  width: 100%;
  height: 80%;
  margin: 10px 0;
}

.technologiesPreview {
  display: flex;
  gap: 3%;
  margin: 20px 0;
}

.head {
  display: flex;
  justify-content: space-between;
}

.tag {
  border: 1px solid #979493;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  padding: 5px 12px;
  font-size: 15px;
}

.projectDescription {
  height: 50%;
  text-overflow: clip;
  font-family: "Inter", sans-serif;
  overflow: hidden;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  margin: 20px 0;
}

.head h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  color: #172b4d;
}

#crossPop {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

#crossPop:hover {
  box-shadow: 5px 5px 5px rgba(140, 137, 134, 0.462);
}

.projectButtons {
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.cardButtons {
  display: flex;
  align-items: center;
  border: none;
  padding: 8px 5px;
}

.cardButtons span {
  font-size: 15px;
  color: #fff;
}

/* popup window style end */

.navbar-container,
.headline-container,
.works-container,
.form-container,
footer {
  margin-left: 24px;
  margin-right: 24px;
}

/* color variable list */

:root {
  --color-white: rgb(255, 255, 255);
  --color-Safety-Orange: #ff6b00;
  --color-black: #1c1a19;
}

/* ------------navbar  style ------------ */

header {
  position: sticky;
  top: 0;
  height: 100%;
  background-color: #3c3a39;
}

.branding-logo {
  animation: rotate 8s ease-in-out 4s 1;
}

@keyframes rotate {
  from {
    transform: rotate(0);
    background-color: #e05304;
  }

  to {
    transform: rotate(360deg);
    background-color: aqua;
  }
}

.logo-container {
  min-height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu {
  min-height: 755px;
  min-width: 327px;
  display: none;
  flex-direction: row-reverse;
  justify-content: space-around;
}

form ul {
  display: flex;
  flex-direction: column;
}

.mobile-menu ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  margin-left: 10%;
}

.tag-ul-1 li {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
  box-sizing: border-box;
  padding: 10px 12px;
  border: 1px solid #8993a4;
}

.card-ul li {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  background-color: rgba(255, 255, 255, 0.24);
  color: var(--color-white);
  box-sizing: border-box;
  padding: 10px 12px;
}

.mobile-menu ul li {
  min-width: 300px;
  margin: 5% 0;
}

#crossImg {
  height: 40px;
  width: 40px;
  margin-top: 30px;
  margin-right: 24px;
}

.desk-menu {
  display: none;
}

nav li a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  font-size: 32px;
  color: hsl(40, 100%, 94%);
}

/* ------------------------
.headline-container style
---------------------------- */
.section {
  height: 37rem;
  background-color: var(--color-black);
  background-image: url("./images/background-1.svg");
  background-repeat: no-repeat;
  background-position: 100% 130%;
}

.headline-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 8.75rem;
}

.headline-container h1 {
  font-family: "Crete Round", serif;
  color: var(--color-Safety-Orange);
  font-style: normal;
  font-weight: 400;
  font-size: 2.6rem;
  line-height: 3.7rem;
  letter-spacing: 0.37px;
}

.headline-container h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
}

.artical {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-white);
}

.social-media-icons {
  display: flex;
}

/* ------------------------
recent work section style
---------------------------- */

.Recent-work {
  display: flex;
  flex-direction: column;
}

.work-title-dv {
  height: 6.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 7.5rem;
  margin-bottom: 6.75rem;
}

.works-title {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: var(--color-black);
}

.Recent-work hr {
  height: 0.5px;
  border: 0.5px solid #212121;
}

.feature-area {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.post-text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title-post {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
}

.post-description {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  overflow: hidden;
}

.tag-ul-1 {
  width: 90%;
  display: flex;
  gap: 6px;
}

button {
  transition: all 1s ease-in;
}

form button {
  padding: 12px;
  margin: 0 98px;
  width: 131px;
  height: 48px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  background-color: var(--color-Safety-Orange);
  border: 1px solid var(--color-Safety-Orange);
  color: var(--color-white);
}

.Recent-work button {
  width: 120px;
}

.Recent-work button,
.see-project-btn {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: black;
  height: 48px;
  background-color: #f55800;
  border: 1px solid #f55800;
}

.about-me button {
  margin-top: 24px;
  margin-right: 175px;
  padding: 12px;
  min-width: 161px;
  height: 48px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  background-color: #f55800;
  color: black;
}

button:enabled {
  background-color: #f55800;
  color: black;
}

button:hover,
button:focus {
  background-color: #fff5e1;
  border: 1px solid #f55800;
  color: #c03b1b;
  cursor: pointer;
}

button:active {
  background-color: #e05304;
  color: var(--color-white);
}

button:disabled {
  background-color: #f4f1f0;
  color: #5b5957;
}

.work-cards {
  display: grid;
  grid-template: repeat(6, 37rem) / 1fr;
  gap: 24px;
}

.card {
  display: flex;
  flex-direction: column;
  background-image: url(./images/background-3.svg);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: flex-end;
}

/* .card-0 {
  background-image: url(./images/ToDoList.png);
}
.card-1 {
  background-image: url(./images/bookStore.png);
}
.card-2 {
  background-image: url(./images/ToDoList.png);
}
.card-3 {
  background-image: url(./images/ToDoList.png);
}
.card-4 {
  background-image: url(./images/ToDoList.png);
}
.card-5 {
  background-image: url(./images/ToDoList.png);
} */

.card:hover {
  box-shadow: 10px 5px 5px 0 rgba(0, 0, 0, 0.75);
}

.card-text {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.card h3 {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: var(--color-white);
}

.description {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-white);
}

.card-ul {
  display: flex;
  gap: 1rem;
}

/* about me section style */

.about-section {
  background-color: var(--color-black);
  margin-top: 120px;
}

.about-me {
  height: 600px;
  margin-left: 24px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-image: url("./images/illustration-about-me-mobile.svg");
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.about-me h2 {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 4.5rem;
  line-height: 5rem;
  letter-spacing: 0.37px;
  color: var(--color-Safety-Orange);
  padding-top: 100px;
}

.about-me p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  margin-top: 10px;
}

.about-container hr {
  border: 1px solid var(--color-white);
  min-width: 327px;
  height: 1px;
  margin: 0 24px 0 24px;
}

.skills-list {
  height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: var(--color-white);
  margin-top: 50px;
}

.skill-1,
.skill-2,
.skill-3 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.skill-1::before {
  content: url(./icons/Rectangle-1.svg);
  margin-right: 10px;
}

.skill-2::before {
  content: url(./icons/Rectangle-2.svg);
  margin-right: 10px;
}

.skill-3::before {
  content: url(./icons/Rectangle-3.svg);
  margin-right: 10px;
}

.Languages,
.frameworks,
.skills {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
}

/* contact form and footer style */

.form-container {
  display: flex;
  flex-direction: column;
}

.form-container p {
  height: 216px;
  margin-top: 120px;
  margin-bottom: 58px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
}

form input {
  height: 48px;
  min-width: 327px;
  margin: 24px 0;
  padding: 16px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  align-items: center;
  color: #979493;
  border-style: none;
  border-bottom: 1px solid #dbd8d7;
}

textarea {
  min-width: 327px;
  height: 114px;
  margin-bottom: 24px;
  padding: 12px;
  background-color: #fbf8f7;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #3c3a39;
  border-style: none;
}

footer {
  height: 81px;
  display: flex;
  flex-direction: column;
  margin-top: 124px;
  margin-bottom: 8px;
}

.top-line {
  height: 1px;
  margin-bottom: 15px;
  border: 0.1px solid #dfe1e6;
}

.social_navigation {
  margin: 0 87px;
  min-width: 200px;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.liner {
  height: 5px;
  width: 134px;
  margin-top: 13px;
  margin-left: 125px;
  background-color: #0d151e;
  border-radius: 10px;
}

/* ---------------------------------------------------
media query for mobile from 450px to 767px screen
--------------------------------------------------- */

@media screen and (min-width: 450px) {
  .projectPreview {
    display: flex;
    flex-direction: column;
    height: 90%;
  }

  .about-me p {
    padding-right: 10%;
  }

  .form-container {
    margin: 0 15%;
  }

  .form-container p {
    font-size: 30px;
    text-align: left;
  }

  #name,
  #email,
  #message {
    width: 320px;
    margin-left: 10%;
  }

  .footer {
    width: 5%;
    margin-left: 10%;
  }

  .liner {
    display: none;
  }
}

/* -------------------------------------------------------
 -------desktop version style using media query--------
 from 768px to 1000px screen size
------------------------------------------------- */

@media screen and (min-width: 768px) {
  body {
    width: 100%;
  }

  .navbar-container {
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mobile-menu {
    display: none;
  }

  #hamImg {
    display: none;
  }

  .desk-menu {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .desk-menu img {
    height: 45%;
    width: 45%;
  }

  .desk-menu li a {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: var(--color-white);
  }

  .section {
    background-color: var(--color-black);
    background-image: url("./images/desktop-1.svg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position-x: 100%;
    background-position-y: 90%;
  }

  .headline-container {
    flex-direction: row-reverse;
    gap: 3rem;
    width: 55%;
  }

  .headline-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .headline-text h2 {
    font-size: 25px;
    color: var(--color-white);
  }

  .social-media-cont {
    margin-top: 3rem;
  }

  .social-media-icons {
    flex-direction: column;
    justify-content: center;
  }

  .social-media-icons img {
    width: 30px;
  }

  .popUpSection {
    height: 80%;
    width: 90%;
    left: 50px;
    overflow: hidden;
  }

  .head h2 {
    font-family: "Crete Round", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
  }

  .technologiesPreview {
    gap: 6px;
    margin: 12px 0 24px 0;
  }

  .projectImg {
    width: 70%;
    margin: 0;
  }

  .projectPreview {
    height: 100%;
    justify-content: space-between;
  }

  .project_elements {
    flex-direction: row;
    width: 100%;
    height: 100%;
    gap: 24px;
  }

  .details_container {
    overflow: hidden;
    width: 40%;
    height: 78%;
  }

  .projectDescription {
    width: 325px;
    margin: 0;
    height: 80%;
    font-size: 16px;
    line-height: 30px;
    color: #344563;
  }

  .projectButtons {
    height: 40px;
    gap: 5%;
    margin-top: 12%;
    width: 100%;
    justify-content: flex-start;
  }

  .works-container {
    margin: 0 12%;
  }

  .work-title-dv {
    flex-direction: row;
    align-items: center;
  }

  .works-title {
    font-size: 25px;
    width: 45%;
  }

  .work-title-dv hr {
    margin: 0;
    width: 80%;
    height: 1px;
    background-color: #0d151e;
  }

  .feature-area {
    flex-direction: row;
  }

  .feature-image {
    width: 100%;
  }

  .post-text {
    width: 50%;
    gap: 6px;
  }

  .title-post {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 44px;
  }

  .post-description {
    font-size: 15px;
    line-height: 15px;
  }

  .tag-ul-1 li {
    padding: 2px 3px;
  }

  form button {
    margin-left: 10%;
  }

  .post-text button {
    height: 35px;
  }

  .card:hover .card-text {
    display: none;
  }

  .seeProBtn {
    height: 40px;
    border: 1px solid #f55800;
    display: none;
  }

  .card:hover .seeProBtn {
    display: block;
    margin-bottom: 0;
    margin-top: auto;
  }

  .work-cards {
    grid-template: repeat(2, minmax(300px, 1fr)) / repeat(3, minmax(200px, 1fr));
    gap: 1rem;
    margin: 2.5rem 0;
  }

  .card h3 {
    font-size: 20px;
    line-height: 25px;
  }

  .description {
    font-size: 12px;
    line-height: 15px;
  }

  .card-ul {
    gap: 4px;
  }

  .card-ul li {
    padding: 4px;
  }

  .form-container p {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    align-items: center;
    color: #262626;
    text-align: left;
    margin-top: 25px;
    word-wrap: break-word;
  }

  .about-me p {
    margin-right: 20%;
  }

  .about-section {
    margin-top: 0;
    height: 900px;
  }

  .about-container {
    background-image: url("images/aboutmeback.svg");
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: 100% 10%;
  }

  .about-me {
    justify-content: center;
    align-items: flex-start;
    background-image: none;
    width: 50%;
    height: 60%;
    margin-left: 10%;
    margin-top: 5%;
  }

  .about-container hr {
    margin-top: 50px;
  }

  .skills-list {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  .Languages,
  .frameworks,
  .skills {
    align-items: flex-start;
  }

  .form-container {
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    margin: 5% 10%;
  }

  #name,
  #email,
  #message {
    width: 400px;
    margin-left: 10%;
  }

  .footer {
    width: 10%;
    margin-left: 25%;
  }

  .liner {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  .details_container {
    width: 40%;
  }

  .head h2 {
    width: 100%;
    margin-left: 17%;
  }

  .technologiesPreview {
    margin-left: 5%;
  }

  .project_elements {
    gap: 0;
  }

  .works-title {
    font-size: 100%;
    line-height: 20px;
    width: 20%;
  }

  .work-title-dv hr {
    width: 80%;
  }

  .work-cards {
    grid-template: repeat(2, minmax(370px, 1fr)) / repeat(3, minmax(200px, 1fr));
  }

  .form-container p {
    font-size: 22px;
    line-height: 30px;
    color: #262626;
    text-align: left;
    margin-top: 25px;
    word-wrap: break-word;
  }

  .about-me p {
    margin-right: 20%;
  }

  .about-section {
    margin-top: 0;
    height: 900px;
  }

  .about-container {
    background-size: 40%;
    background-position: 100% 5%;
  }

  .about-me {
    justify-content: center;
    align-items: flex-start;
    background-image: none;
    width: 50%;
    height: 60%;
    margin-left: 10%;
    margin-top: 5%;
  }

  .about-container hr {
    margin-top: 50px;
  }

  .skills-list {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  .Languages,
  .frameworks,
  .skills {
    align-items: flex-start;
  }

  .form-container {
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    margin: 5% 10%;
  }

  #name,
  #email,
  #message {
    width: 450px;
    margin-left: 10%;
  }

  .footer {
    width: 10%;
    margin-left: 35%;
  }
}

@media screen and (min-width: 1200px) {
  .popUpSection {
    height: 85%;
    left: 80px;
  }

  .project_elements {
    height: 80%;
    gap: 3%;
    width: 100%;
    margin-bottom: 10%;
  }

  .projectImg {
    max-width: 655px;
    max-height: 421px;
    width: auto;
    height: auto;
  }

  .details_container {
    height: 100%;
    width: 100%;
  }

  .projectDescription {
    width: 450px;
  }

  .projectButtons {
    margin-top: 5%;
  }

  .head h2 {
    margin-left: 0;
  }

  .technologiesPreview {
    margin-left: 0;
  }
}
