*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar-container {
  background: #3c3a39;
  width: 375px;
  height: 755px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.nav-toggler {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 375px;
  height: 92px;
  margin-right: 24px;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
}

.nav-toggler img {
  margin-right: 24px;
}

nav {
  position: absolute;
  left: 24px;
  top: 92px;
  width: 327px;
  height: 184px;
}

nav ul {
  width: 295px;
  height: 50px;
  margin: 8px 16px;
}

nav li {
  list-style-type: none;
  width: 227px;
  height: 44px;
  margin: 16px 84px 16px 0;
}

nav li:nth-child(1),
nav li:nth-child(2),
nav li:nth-child(3) {
  border-bottom: 1px solid #6f6f6f;
}

nav li a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: hsl(40, 100%, 94%);
}
