a {
  text-decoration: none !important;
  font-size: 1rem;
  font-weight: 700;
  color: rgba(72, 69, 69, 0.989) !important;
}

.active {
  background-color: #97bd28;
  color: white !important;
}

.super_admin a {
  font-weight: 600;
  color: #97bd28;
}
